[data-md-color-scheme="containrrr"] {
  /* primary and accent */
  --md-primary-fg-color: #406170;
  --md-primary-fg-color--light: #acbfc7;
  --md-primary-fg-color--dark: #003343;
  --md-accent-fg-color: #003343;
  --md-accent-fg-color--transparent: #00334310;

  /* typeset overrides */
  --md-typeset-a-color: var(--md-primary-fg-color);
}

:root {
  --bs-primary: #406170 !important;
  --bs-primary-rgb: 3, 140, 127;
  --bs-secondary: #acbfc7 !important;
  --bs-secondary-rgb: 64, 97, 112;
  --bs-dark: #003343 !important;
}

.btn-primary {
  --bs-btn-bg: #038c7f;
  --bs-btn-border-color: ##038c7f;
  --bs-btn-hover-bg: #02675d;
  --bs-btn-hover-border-color: #025a52;
  --bs-btn-active-bg: #025a52;
  --bs-btn-active-border-color: #025a52;
  --bs-btn-disabled-bg: #038c7f;
  --bs-btn-disabled-border-color: #038c7f;
}

.btn-outline-primary {
  --bs-btn-color: #038c7f;
  --bs-btn-disabled-color: #038c7f;
  --bs-btn-border-color: #038c7f;
  --bs-btn-hover-bg: #02675d;
  --bs-btn-hover-border-color: #025a52;
  --bs-btn-active-bg: #025a52;
  --bs-btn-active-border-color: #025a52;
  --bs-btn-disabled-border-color: #038c7f;
}

body {
  background-color: rgba(172, 191, 199, 0.5);
}

.container-list-entry:hover .container-list-entry-icon .bi-box::before {
  /* .bi-box-fill */
  content: "\F7D2";
}
