name: Publish Docs

on:
  workflow_dispatch: { }
  workflow_run:
    workflows: [ "Release (Production)" ]
    branches: [ main ]
    types:
      - completed

jobs:
  publish-docs:
    name: Publish Docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install mkdocs
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'
          cache-dependency-path: |
            docs-requirements.txt
        run: |
          pip install -r docs-requirements.txt
      - name: Generate docs
        run: mkdocs gh-deploy --strict
